<mat-card>
  <mat-card-title>Общий чат</mat-card-title>
  <mat-card-content>


    <form class="name-form" [formGroup]="form" (submit)="sendMessage()">
      <mat-form-field>
        <textarea matInput placeholder="Написать сообщение" formControlName="text" (keyup.enter)="sendMessage()"></textarea>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Написать</button>
    </form>
    <br/>
  </mat-card-content>
</mat-card>
<div id="subscribe">
  <div *ngFor="let item of messageArray">
    <span><strong>{{item.author}} : </strong> {{item.message}} ({{item.time}})</span>
  </div>
</div>
