<mat-toolbar class="top-menu" color="primary" role="heading">
  <a mat-button routerLink="/">
    <mat-icon>chat</mat-icon> ChatApp
  </a>

  <a mat-button routerLink="/">
    <mat-icon>account_circle</mat-icon> {{userName}}
  </a>

</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>
