<mat-card>
    <mat-card-title>Представьтесь пожалуйста</mat-card-title>
    <mat-card-content>


        <form class="name-form" [formGroup]="form" (submit)="sendMessage()">
            <mat-form-field>
                <input matInput placeholder="Имя" formControlName="name" required/>
                <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <!--<mat-form-field>-->
                <!--<textarea matInput placeholder="Написать сообщение" formControlName="text" (keyup.enter)="sendMessage()"></textarea>-->
            <!--</mat-form-field>-->
            <button type="submit" mat-raised-button color="primary">Написать</button>
        </form>
        <br/>
    </mat-card-content>
</mat-card>
<div id="subscribe">
    <div *ngFor="let item of messageArray">
        <span><strong>{{item.author}} : </strong> {{item.message}} ({{item.time}})</span>
    </div>
</div>
